@page "/movie/"
@using MovieApp.Data
@inject MovieController movieController

<head>
    <title>Movie</title>
</head>
<body>
<div style="display: flex; align-items: flex-start; justify-content: center">
    <div>
        <p>@movieCache.Title</p>
        <p>Rating | @movieCache.imdbRating (@movieCache.imdbVotes)</p>
        <img style="width: 60%" src="@movieCache.Poster"/>
        <p>@movieCache.Year</p>
        <p>Director | @movieCache.Director</p>
        <p>Writer | @movieCache.Writer</p>
    </div>
    <div>
        <p>Starring actors</p>
        <ul>
            @foreach (var i in Actors)
            {
                <li>@i.ToString()</li>
            }
        </ul>
    </div>
</div>
</body>

@code
{
    [Parameter]
    [SupplyParameterFromQuery(Name = "movieId")]
    public String movieId { get; set; } = "";

    private String RatingString;
    private List<String> Actors;
    public OMDBMovie movieCache = new OMDBMovie();

    protected override void OnInitialized()
    {
        movieId = movieId ?? "";
        movieId = "tt" + movieId;
        Console.WriteLine(movieId);
        GetMovieInfo(movieId);
    }

    public void GetMovieInfo(String id)
    {
        movieCache = movieController.getMovies(id);
        Actors = movieCache.Actors.Split(", ").ToList();
    }

}