@page "/movie/"
@using MovieApp.Data
@inject MovieController movieController

<head>
    <title>Movie</title>
</head>
<body>
<div class="background-container" style="">
    <div class="sub-container">
        <div class="content-box movie-left">
            <p class="movie-title">@movieCache.Title (@movieCache.Year)</p>
            <p>@movieCache.imdbRating★ (@movieCache.imdbVotes)</p>
            <img class="poster" src="@movieCache.Poster"/>
        </div>
        <div class="sub-container">
            <div class="content-box" style="width: 100%">
                <p>Country | @movieCache.Country</p>
                <p>Director | @movieCache.Director</p>
                <p>Writer | @movieCache.Writer</p>
                <p>Synopsis</p>
                <p>@movieCache.Plot</p>
            </div>
             <div class="content-box" style="width: 100%;">
                                <p class="actor-list-title">Starring actors</p>
                         <ul class="actor-list">
                                    @foreach (var i in Actors)
                                    {
                                        <li>@i.ToString()</li>
                                    }
                                </ul>
                            </div>
        </div>
    </div>
</div>
</body>

@code
{
    [Parameter]
    [SupplyParameterFromQuery(Name = "movieId")]
    public String movieId { get; set; } = "";

    private String RatingString;
    private List<String> Actors;
    public OMDBMovie movieCache = new OMDBMovie();

    protected override void OnInitialized()
    {
        movieId = movieId ?? "";
        movieId = "tt" + movieId;
        GetMovieInfo(movieId);
    }

    public void GetMovieInfo(String movieId)
    {
        movieCache = movieController.getMovies(movieId);
        Actors = movieCache.Actors.Split(", ").ToList();
    }

    public void getActorLinks(String movieId)
    {
        
    }

}