@page "/peopleList"
@using MovieApp.Data;
@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.WebUtilities
@inject PeopleController PeopleController;
@inject NavigationManager NavManager;

<PageTitle>People List</PageTitle>

<h1 class="text-gradient">People List</h1>

@if (People == null)
{
    <div class="spinner"> <img src="img/loading.gif"/></div>
}
else
{
    <form method="get" action="/peopleList">
        <input class="form-control w-50" name="name" type="text"/>
        <button class="mt-2 btn btn-primary">Search</button>
    </form>
    @foreach (var item in People)
    {
        var apiId = @item.id.ToString("D7");
        <PeopleListItem Name="@item.name" Birth="@item.birth" ApiId="@apiId" />
    }
}
<span><button @onclick="@Back" class="btn btn-primary BackButton">Back</button><label>...@Page...</label><button @onclick="@Next" class="btn btn-primary NextButton">Next</button></span>



@code {
    [AllowNull]public List<Data.Person> People = null;
    //public string MovieTitleQuery;
    public int Page = 1;
    public string name = null;
    
    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        
       if (query.TryGetValue("name", out var nameQuery)){ name = nameQuery; }

        //if (query.TryGetValue("page", out var page)){ Page = Convert.ToInt16(page); }

    }
    
    protected override async Task OnInitializedAsync()
    {
        People = null;
        await Task.Run(() => { People = PeopleController.getPeople(page: Page, name: name); 
        });
    }
    
    protected async Task Back()
    {
        if (Page > 1)
        {
            Page--;
            await OnInitializedAsync();
        }
    }

    protected async Task Next()
    {
        Page++;
        await OnInitializedAsync();
    }
}